body{
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: auto;
    width: 940px
}

h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px
}

#fachada{
    margin-left: auto;
    margin-right: auto;
    width: 550px
}

#qrcode{
    margin-left: auto;
    margin-right: auto;
    width: 550px
}

figcaption {
    font-style: italic;
    margin-top: 10px
}

p{
    text-indent: 15px;
    padding: 0 45px
}

h1 + p{
    text-indent: 0px
}

footer{
    text-align: center;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}